/* Mobile-first initial codes */

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* comfortable font-size for rem unit*/
}


/* initial CSS codes */

:root {
    --clr-primary: rgb(51, 201, 221);
    --clr-light: rgb(255, 255, 255);
    --clr-bg: rgb(235, 232, 232);
    --clr-text: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--clr-text);
    user-select: none;
}

header,
section,
footer,
{
    padding: 3rem 0;
    background-color: var(--clr-primary);
}

ul,
ol {
    list-style: none;
}

.container {
    margin-inline: auto;
    width: min(90%, 114rem);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

.split,
.re-split {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.nav>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    text-align: center;
    color: var(--clr-light);
    background-color: var(--clr-primary);
    padding: 5px 10px;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: none;
}

.btn:focus {
    outline: none;
}

.nav-list {
    display: flex;
}

.right-side-nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-inline: 1.2rem;
}

.nav-link {
    color: var(--clr-text);
}

.nav {
    box-shadow: 0 7px 7px 0px rgb(223, 220, 220);
    padding: 1rem 0px;
}

.menu-button {
    /* display: inline-block; */
    border: none;
}

.menu-button:focus {
    outline: none;
}


/* FORM-SECTION */

.form-section {
    padding: 4rem 0;
    background-color: var(--clr-primary);
}

::placeholder {
    color: var(--clr-text);
    opacity: 1;
}

form {
    border-radius: 5px;
    width: min(90%, 30rem);
    margin: 0 auto;
    padding: 2.4rem 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
}

label {
    width: 95%;
    display: block;
}

input {
    border-radius: 5px;
    border: none;
    background-color: var(--clr-bg);
    margin-bottom: 10px;
    width: 100%;
    padding: 1.5rem;
}

input:focus {
    outline: none;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 3px;
    opacity: 0.2;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 3px;
    opacity: 0.9;
}

select {
    border-radius: 5px;
    border: none;
    background-color: var(--clr-bg);
    margin-bottom: 10px;
    width: 95%;
    padding: 1.5rem;
}

.submit {
    width: 60%;
    padding: 10px;
    margin-left: 0;
}

.submit:hover {
    cursor: pointer;
}

.select-label {
    position: relative;
    width: 95%;
}

.select-label:after {
    content: '\25BC';
    right: 10px;
    top: -4px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.select-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
}

.mini-width {
    padding-bottom: 2rem;
    margin: 0 auto;
    /* width: 65%; */
}

.light {
    color: var(--clr-light)
}


/* FORM-SECTION ENDED */


/* gonext-section */

.go-next-vid {
    margin: 3rem auto;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

footer {
    background-color: var(--clr-text);
    color: var(--clr-light);
    padding: 50px 0;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    color: var(--clr-light);
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* end gonext-section */

.service-list {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 3rem auto;
    padding: 10px 20px;
}

.service-item img {
    width: 200px;
    height: auto;
}

.services {
    margin: 50px auto;
}

.step-item {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step-item img {
    width: 200px;
    height: auto;
}

.step-item .texts {
    padding: 10px 20px;
}


/* SERVICE-SECTION-ENDED */

@media(min-width:520px) {
    footer .container {
        width: 80%;
        margin-left: 50px;
        flex-direction: row;
        text-align: left;
        justify-content: space-around;
        align-items: start;
        font-size: 14px;
    }
    .site-box {
        margin-right: 20px;
    }
    .copyright-box {
        width: 40%;
        margin-right: 20px;
    }
    .step-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .step-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    .service-list {
        flex-direction: row;
        justify-content: space-around;
    }
    .service-item {
        width: 45%;
    }
}

@media(min-width:660px) {
    .service-list {
        flex-direction: row;
        justify-content: space-around;
    }
    .service-item {
        width: 30%;
    }
}

@media(min-width:665px) {
    .split>* {
        flex-basis: 100%;
    }
    .split {
        display: flex;
        flex-direction: row;
    }
    .re-split {
        flex-direction: row-reverse;
    }
    .split *+* {
        margin-left: 2em;
    }
    header,
    section {
        padding: 1rem 0;
    }
}

@media(min-width:51em) {
    .mini-width {
        width: 65%;
    }
    .menu-button {
        display: none;
    }
    .right-side-nav {
        display: flex;
    }
}

@media(min-width:640px) {
    .nav {
        padding: 0;
        padding-bottom: 10px;
    }
}

@media(min-width:960px) {
    iframe {
        height: 300px;
    }
}