/* Mobile-first initial codes */

html {
    font-size: 62.5%;
    /* comfortable font-size for rem unit*/
}


/* initial CSS codes */

:root {
    --clr-primary: rgb(51, 201, 221);
    --clr-light: rgb(255, 255, 255);
    --clr-bg: rgb(214, 209, 209);
    --clr-text: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--clr-text);
    user-select: none;
}

header,
section,
footer,
{
    padding: 3rem 0;
    background-color: var(--clr-primary);
}

ul,
ol {
    list-style: none;
}

.container {
    margin-inline: auto;
    width: min(90%, 114rem);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

.split,
.re-split {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.nav>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tel-link {
    text-align: center;
    color: var(--clr-light);
    background-color: var(--clr-primary);
    padding: 5px 10px;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
}

.nav-list {
    display: flex;
}

.right-side-nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-inline: 1.2rem;
}

.nav-link {
    color: var(--clr-text);
}

.nav {
    box-shadow: 0 7px 7px 0px rgb(223, 220, 220);
    padding-bottom: 10px;
}

.menu-button {
    display: inline-block;
}

@media(min-width:51em) {
    .menu-button {
        display: none;
    }
    .right-side-nav {
        display: flex;
    }
}

@media(min-width:40em) {
    .split>* {
        flex-basis: 100%;
    }
    .split {
        flex-direction: row;
    }
    .re-split {
        flex-direction: row-reverse;
    }
    .split *+* {
        margin-left: 2em;
    }
    header,
    section {
        padding: 1rem 0;
    }
}